:host{
  display: block;
  &:not(:last-of-type){
    border-bottom: 1px solid #eaebeb;
  }
}

.todo-item{
  padding: 12px 24px;
  cursor: pointer;
  color: #666;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;

   &:hover{
     background: #fafafa;
   }

  & .todo-description{
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .todo-checkbox{
    flex: 0;
  }
}
