.login-container{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .login-form{

    & .login-logo{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      gap: 15px;

      color: #fff;
      font-size: 1.9rem;
      font-weight: lighter;

      & img{
        width: 75px;
        height: auto;
      }
    }

    width: 350px;

    & .username, .password{
      margin-bottom: 15px;
    }
  }
}
