<div class="login-container">
  <div class="login-form">
    <div class="login-logo">
      <img [ngSrc]="'/assets/images/angular.png'" width="75" height="75" priority="true" alt="Logo">
      <div>Angular Jumpstart</div>
    </div>
    <form [formGroup]="loginFormGroup" (ngSubmit)="onLoginFormSubmit()">
      <div class="username">
        <input type="text" class="fw" formControlName="email">
      </div>
      <div class="password">
        <input type="password" class="fw" formControlName="password">
      </div>
      <div class="login-button">
        <button class="fw" type="submit">
          Login
        </button>
      </div>
    </form>
    <div class="alert-message" *ngIf="loginFormGroup.touched && loginFormGroup.invalid">
      The username/password fields cannot be empty
    </div>
    <div class="alert-message" *ngIf="invalidCredentials">
      Invalid username or password!
    </div>
  </div>
</div>
